button {
  font-size: 16px;
}

.mycollection_btn-dark {
  background: #333;
  color: #f4f4f4f4;
  border: 1px solid #333;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
}

.mycollection_my-collection {
  width: 80vw;
}
.mycollection_my-collection h1 {
  padding-top: 12px;
}

.mycollection_my-collection p {
  padding-top: 12px;
  padding-bottom: 12px;
}

.mycollection_my-collection .mycollection_container-title {
  text-align: center;
}

.mycollection_my-collection .mycollection_container {
  margin: 100px 0 0 0;
}

.mycollection_new-collection {
  padding-top: 1mycollection_5rem;
  padding-bottom: 1mycollection_5rem;
  padding-left: 2mycollection_5rem;
}

/* Grid for created collections */

.mycollection_container-collection {
  margin-top: 12px;
}

.mycollection_collection {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  columns: 5 300px;
  column-gap: 1mycollection_5rem;
  width: 100%;
  margin: 0 auto;
}

.mycollection_collection .mycollection_wrapped {
  width: 150px;
  padding: 1rem;
  margin: 0 1mycollection_5rem 1mycollection_5rem 0;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  border-radius: 2px;
  transition: all 0mycollection_3s ease-in-out;
}
.mycollection_collection .mycollection_wrapped:hover {
  transform: scale(0mycollection_9);
  box-shadow: 2px 5px 5px 5px rgba(0, 0, 0, 0mycollection_5);
}

.mycollection_collection .mycollection_wrapped img {
  max-height: 100%;
  max-width: 100%;
}

.mycollection_collection #title {
  margin: 5px 0;
  padding: 0;
  text-align: center;
  text-transform: capitalize;
  font-size: 12px;
}

/* The Modal (background) */
.mycollection_modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  font-size: 20px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0mycollection_4); /* Black w/ opacity */
}

/* Modal Content */
.mycollection_modal-content {
  background-color: #fefefe;
  padding: 20px 40px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 600px;
  max-height: fit-content;
  font-size: 16px;
  position: relative;
}

/* label {
  display: block;
  padding: 10px;
  width: 100%;
  font-weight: bold;
  margin-bottom: -5px;
} */

/* input,
textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  margin-top: 5px;
  font-size: 16px;
  font-weight: normal;
  max-height: 100px;
} */

.mycollection_modal-content h1 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
}

.mycollection_modal-content button {
  width: 100%;
  margin-top: 15px;
  font-size: 20px;
}
/* The Close Button */
.mycollection_close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
}

.mycollection_close:hover,
.mycollection_close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Image Upload */
.mycollection_input-file-container {
  position: relative;
  width: 225px;
}

.mycollection_input-file-container input[type='file'] {
  margin-top: 20px;
}

.mycollection_js .mycollection_input-file-trigger {
  display: block;
  padding: 30px 45px;
  border: 1px dotted #000;
  /* margin-top: 20px; */
  color: #333;
  font-size: 1em;
  transition: all 0mycollection_4s;
  cursor: pointer;
}
.mycollection_js .mycollection_input-file {
  position: absolute;
  top: 0;
  left: 0;
  width: 225px;
  opacity: 0;
  padding: 40px 0;
  cursor: pointer;
}
/* .mycollection_js .mycollection_input-file:hover + .mycollection_input-file-trigger,
.mycollection_js .mycollection_input-file:focus + .mycollection_input-file-trigger,
.mycollection_js .mycollection_input-file-trigger:hover,
.mycollection_js .mycollection_input-file-trigger:focus {
  border: 1px dotted #000;
  background: #39d2b4;
  color: #333;
} */

.mycollection_file-return {
  margin: 0;
}
.mycollection_file-return:not(:empty) {
  margin: 1em 0;
  margin-left: -60px;
}
.mycollection_js .mycollection_file-return {
  font-style: italic;
  font-size: 0mycollection_9em;
  font-weight: bold;
}
.mycollection_js .mycollection_file-return:not(:empty):before {
  content: 'File đã chọn: ';
  padding: auto;
  font-style: normal;
  font-weight: normal;
}

/* Search Button */
.mycollection_container-equip {
  display: flex;
  flex-wrap: nowrap;
  padding-left: -10px;
}

.mycollection_search-bar {
  width: 80%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.mycollection_search-bar input[type='search'] {
  padding-left: 45px;
  height: 42px;
  border: 0mycollection_5px solid;
  border-radius: 10px;
  background-color: #f4f4f4f4;
  font-size: 16px;
}

.mycollection_search-icon {
  color: #65737e;
}

.mycollection_search-bar .mycollection_search-icon {
  position: absolute;
  top: px;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
}

.mycollection_search-bar input:focus .mycollection_search-icon {
  transform: scale(1mycollection_5);
}

.mycollection_search-bar input:focus {
  border: none;
  box-shadow: 2px 5px 5px 5px rgba(0, 0, 0, 0mycollection_2);
}

.mycollection_search-bar .mycollection_btn-dark {
  padding: 20px;
}
