* {
  margin: auto;
  padding: auto;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: #f4f4f4f4;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}
