.myprofile {
  margin: 0;
  display: grid;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 20% 78%;
  justify-content: space-between;
}

.myprofile .filter-left {
  background-color: #ffffff;
  /* padding: 20px; */
  margin: 0;
  padding-top: 100px;
  width: 100%;
  line-height: 2;
  font-size: 26px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  /* width: 25%; */
  position: sticky;
}

.address {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filter-left .fas {
  font-size: 16px;
  padding-right: 10px;
}

.filter-left h2 {
  font-size: 18px;
}

.filter-left .checkbox {
  padding-left: 15px;
}

.filter-left label {
  margin-left: 10px;
}

.filter-left .filter-header {
  width: 100%;
  /* display: grid;
  grid-template-columns: 3fr 1fr;
  /* margin-left: -30px;
  margin-right: 50px; */
  display: flex;
  flex-direction: row;
  background-color: #9b9b9b;
  /* border-bottom: 1px solid rgb(0, 0, 0.2); */
  /* width: 90%; */
  /* justify-content: left; */
}

.filter-left .filter-content {
  padding: 20px;
  font-size: 16px;
}

.filter-left .filter-content ul {
  padding-top: 15px;
  padding-bottom: 15px;
}

.filter-left .filter-content ul li {
  margin: 10px 0;
}

.filter-left .price li {
  display: flex;
  justify-content: space-around;
}

.filter-left .price li input {
  width: 120px;
  height: 30px;

  border: 1px solid rgb(0, 0, 0.2);
  border-radius: 5px;
  font-size: 14px;
  padding: 10px;
}

.filter-left .filter-content ul h2 {
  border-bottom: 1px solid rgb(0, 0, 0.2);
}

/* Table transaction */
.table-properties {
  text-align: center;
  font-size: 14px;
}

.table-properties table {
  margin: 0;
  padding: 0;
  width: 100%;
}

caption {
  font-weight: bold;
  padding-bottom: 10px;
}

td,
th {
  padding: 8px;
  text-overflow: ellipsis;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
  text-overflow: ellipsis;
}

tr:hover {
  background-color: #ddd;
  text-overflow: ellipsis;
}

td {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td:first-child {
  text-align: center;
  /* max-width: fit-content; */
}

td:first-child i {
  padding-left: 10px;
}

.container-transaction {
  width: 90%;
  margin-top: 100px;
}

.container-transaction .table-activity {
  margin: 50px 0;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 1px 2px 5px 3px rgba(0, 0, 0, 0.2);
}

.container-transaction .table-activity table {
  width: 100%;
}
